:root {
    --bg-color: #2E2E2E;
    --second-bg-color: #5EC6C7;
    --text-color: white;
    --main-color: #FDF702;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: inter;
}

.logo {
    display: inline-block;
    width: 20rem;
}

nav {
    width: 100%;
    margin: 0 auto;
    background: var(--bg-color);
    padding: 50px 0;
    box-shadow: 0px 5px 0px var(--second-bg-color);
    font-size: 20px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    text-align: center;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: var(--main-color);
}

nav.navbar ul li a {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

nav.navbar ul li a:hover {
    color: var(--bg-color);
}

nav.navbar ul li a:before,
nav.navbar ul li a:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: var(--main-color);
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
}

nav.navbar ul li a:before {
    left: 0;
}

nav.navbar ul li a:after {
    right: 0;
}
  
nav.navbar ul li a:hover:after,
nav.navbar ul li a:hover:before {
    width: 100%;
}