:root {
    --bg-color: #2E2E2E;
    --second-bg-color: #5EC6C7;
    --text-color: white;
    --main-color: #FDF702;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

nav {
    width: 100%;
    height: 80px;
    background: var(--bg-color);
    border-bottom: 1px solid var(--text-color);
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    display: flex;
    font-size: 16px;
}

.logo img {  
    max-height: 100%;
    max-width: 100px;
    margin-left: 5rem;
    padding: 1rem;
}

nav a {
    margin-right: 5rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 1rem;
    color: var(--text-color);
    text-transform: uppercase;
}

nav.navbar ul li a {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: var(--main-color);
}


nav.navbar ul li a:hover {
    color: black;
}

nav.navbar ul li a:before,
nav.navbar ul li a:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: var(--main-color);
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
}

nav.navbar ul li a:before {
    left: 0;
}

nav.navbar ul li a:after {
    right: 0;
}
  
nav.navbar ul li a:hover:after,
nav.navbar ul li a:hover:before {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 3.6rem;
    color: var(--main-color);
}

/* Home section */
.home-content {
    background-color: var(--bg-color);
}

.home-content img{
    width: 75%;
    float: right;
}

/* Kartenübersicht section */
.overview-content {
    background-color: var(--second-bg-color);
}

/* Spielanleitung section */
.directions-content {
    background-color: var(--bg-color);
}

/* FAQ section */
.faq-section {
    background-color: var(--second-bg-color);
}

/* Proof section */
.proof-section {
    background-color: var(--bg-color);
}

/* Kontakt section */
.contact-content {
    background-color: var(--second-bg-color);
}

/* Footer section */
footer {
    background-color: var(--bg-color) ;
    padding: 3rem;
}

footer p {
    font-size: 16px;
    text-align: center;
    color: var(--text-color);
}